<%- include ("partials/header") %> 

<h1 class="title">myWeather</h1>
<p class="description">Search a city you wish to see the weather for.</p>

<form action="/" method="post" class="weather-search">
    <div class="search-pair">
        <input type="text" name="weatherSearch" class="search-input">
        <button class="submit-btn" type="submit" name="weatherSubmit">Search</button>
    </div>
</form>

<p class="error-status"> <%= status %> </p>

<div class="weather-result">
    <h3 class="city-name"> <%= cityName %> </h3>
    <p class="temperature">  <%= temperature %></p>
</div>


<%- include ("partials/footer") %> 